.bn-editor {
  border: 2px solid;
  border-color: hsl(var(--input));
  background-color: var(--background);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem; /* 24px */
}
.bn-editor:focus {
  outline: 1px solid transparent;
  outline-offset: 2px;
}
.bn-editor:focus-visible {
  outline: 1px solid hsl(var(--ring));
  outline-offset: 2px;
}

.bn-side-menu svg {
  fill: hsl(var(--ring));
  opacity: 0.7;
  width: 20px;
  height: 20px;
}
